.align-itens {
    display: flex;
    justify-content: space-between;
}

.loading-drivers {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 50px 50px;
    margin: 20px 0;
}

.container {
    background-color: #ececec;
}
